

.oj-inline-block
{
	display: inline-block;
}

.oj-overflow-auto
{
	overflow:auto;
}

.oj-labelled-object-container
{
	position:relative;
}

.oj-labelled-object-container fieldset
{
	margin-left: 0px;
	padding-left: 0px !important;
	position: relative;
}

.oj-labelled-object-container fieldset legend
{
	font-size: 1em;
	width : 300px;
}

.oj-labelled-object-container fieldset .ui-controlgroup-controls
{
	display:inline-block;
}

.oj-labelled-object-container fieldset .ui-controlgroup-label
{
	display:inline-block;
}

.oj-labelled-object-container fieldset .ui-btn-inner
{
	padding-left : 0px !important;
}

.oj-submit-button-div
{
	border-top: 1px solid gray;
}

.oj-submit-button-div div.ui-submit
{
	width:12em;
}

.oj-help-tip
{
	position: absolute;
	top: 18px;
	right: 18px;
	text-align: center;
	background-color: #BCDBEA;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	font-size: 14px;
	line-height: 26px;
	cursor: default;
	z-index: 9999;
}

.oj-help-tip:before{
	content:'?';
	font-weight: bold;
	color:#fff;
}

.oj-help-tip:hover p{
	display:block;
	transform-origin: 100% 0%;

	-webkit-animation: fadeIn 0.3s ease-in-out;
	animation: fadeIn 0.3s ease-in-out;

}

.oj-help-tip p{	/* The tooltip */
	display: none;
	text-align: left;
	background-color: #1E2021;
	padding: 20px;
	width: 300px;
	position: absolute;
	border-radius: 3px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	right: -4px;
	color: #FFF;
	font-size: 13px;
	line-height: 1.4;
}

.oj-help-tip p:before{ /* The pointer of the tooltip */
	position: absolute;
	content: '';
	width:0;
	height: 0;
	border:6px solid transparent;
	border-bottom-color:#1E2021;
	right:10px;
	top:-12px;
}

.oj-help-tip p:after{ /* Prevents the tooltip from being hidden */
	width:100%;
	height:40px;
	content:'';
	position: absolute;
	top:-40px;
	left:0;
}

/* CSS animation */

@-webkit-keyframes fadeIn {
	0% { 
		opacity:0; 
		transform: scale(0.6);
	}

	100% {
		opacity:100%;
		transform: scale(1);
	}
}

@keyframes fadeIn {
	0% { opacity:0; }
	100% { opacity:100%; }
}
